{% load utils %}

<div class="card-rect" onclick="selectCard('{{ card.name }}', '{{ card.target }}')">
    <div>
        <div class="card-title">{{ card.name }}</div>
        <div class="card-illust">{{ card.illust|illust }}</div>
        <div class="card-type">{{ card.rarity }} {{ card.type }}</div>
        <div class="card-desc">
            <span style="color: var(--accent-cyan)">{{ card.recovery_cost }}⧗</span>
            {% if card.damage_power %}
            | <span style="color: var(--accent-red)">{{ card.damage_power|floatformat }}×
                {{ card.damage_type|damage_type }}
            </span>
            {% endif %}
            {% if card.heal_power %}
            | <span style="color: var(--accent-green)">{{ card.heal_power|floatformat }}×
                {{ card.heal_stat|damage_type }}
            </span>
            {% endif %}
            {% for effect in card.effects %}
            {% if effect.damage_power %}
            | <span style="color: var(--accent-red)">{{ effect.damage_power|floatformat }}×
                {{ effect.damage_type|damage_type }}
            </span>
            {% endif %}
            {% if effect.heal_power %}
            | <span style="color: var(--accent-green)">{{ effect.heal_power|floatformat }}×
                {{ effect.heal_stat|damage_type }}
            </span>
            {% endif %}
            {% endfor %}
        </div>
        <div class="card-desc">
            {{ card.description }}
        </div>
    </div>
</div>