{% load static %}
<div class="unit-card {{ unit_class }}" data-id="{{ char.id }}" onclick="selectTarget('{{ char.id }}')">
    <img src="{% static char.illust %}" style="width: 100%; margin-top: -40px;" />
    <div>
        <strong>{{ char.name }}</strong>
    </div>
    <div class="hp-bar {% if char.current_hp < char.max_hp|add:'-3' %}low{% endif %}">
        [{{ char.current_hp }}/{{ char.max_hp }} HP]
        <span style="color: var(--accent-cyan)">
            {% if char == turn_char %}
            TURN!
            {% elif char.current_hp > 0 %}
            {{ char.action_timer }}⧗
            {% endif %}
        </span>
    </div>
</div>